<div class="container">
    <div class="row">
        <div class="col-md-12">
        
        </div>
        <div class="col-md-12">
            {{#each details}}
            <ul class="list-group">
               
 
 <li><h5><span class="badge badge-secondary ml-5">{{this.student}}</span>{{this.Date}}<span class="badge badge-secondary ml-5">{{this.attendance}}</span>
 </h5></li>
  
</ul>
 {{/each}}
        </div>
    </div>
</div>