<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  </div>
        </div>
            <div class="col-md-12 ml-5 tab-class">

    
    <table class="table mt-5 ml-2">
      <thead class="table-design" >
    <tr >
      
      
      
        <th scope="col"class="student-details">Student</th>
        <th scope="col"class="student-details">Attendance</th>
       
       <th scope="col"class="student-details">Date</th>
       
    </tr>
  </thead>  
    <tbody>
   
        {{#each status}}
        <tr>
     
       <td class="student">{{this.student}}</td>
      
      
    
   
     
       <td class="student">{{this.attendance}}</td>
      
      <td class="student">{{../date}}</td>
    
    </tr>
   {{/each}}
    </tbody>
    </table>
    </div>
    
     
        
    </div>
</div>