<div class="container emp-profile">
            <form action="/edit-profile" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img class="profile-img" style="" src="/teacher-image/image.jpg" id="imageId">
                            <div class="file btn btn-lg btn-primary john" >
                                Change Photo
                                <input type="file" name="Image" onchange="imageChange(event)" class="onchng">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 class="john">
                                        Dr.John George
                                    </h5>
                                    
                                    
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active change" id="home-tab" data-toggle="tab"
                                     href="#home" role="tab" aria-controls="home" 
                                     aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                      <a class="nav-link change" id="profile-tab" data-toggle="tab" href="#profile" 
                      role="tab" aria-controls="profile" aria-selected="false">Time table</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                         <button type="submit" class="btn btn-success mt-4">Change</button>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Important Contacts</p>
                            <a href="">Principal:657575647</a><br/>
                            <a href="">Vice Principal:6878787878</a><br/>
                            <a href="">PTA President:4647596879</a>
                            <p>Websits</p>
                            <a href="">www.college.com</a><br/>
                            <a href="">principal@ac.in</a><br/>
                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" 
                            aria-labelledby="home-tab">
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Dr.John George</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>john@123.com</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>123 456 7890</p>
                                            </div>
                                        </div>
                                        
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" 
                            aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>9:30</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>EMD</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>10:30</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>EC</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>11:30</label>
                                            </div>
                                            <div class="col-md-6">
                                                 <p>ESD</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>1:30</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>DSP</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>2:30</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> ELCETIVE</p>
                                            </div>
                                        </div>
                               
                            </div>


                            
                        </div>
                    </div>
                </div>
            </form>           
        </div>