<div class="container" align="center">
			<br />
			<h3 align="center">Crop Image Before Upload using CropperJS with PHP</h3>
			<br />
			<div class="row">
				
				<div class="col-md-4">
					<div class="image_area">
						<form method="post">
							<label for="upload_image">
								<img src="upload/user.png" id="uploaded_image" class="img-responsive img-circle" />
								<div class="overlay">
									<div class="text">Click to Change Profile Image</div>
								</div>
								<input type="file" name="image" class="image" id="upload_image" style="display:none" />
							</label>
						</form>
						<div class="modal-body">
			        		<div class="img-container">
			            		<div class="row">
			                		<div class="col-md-8">
			                    		<img src="" id="sample_image" />
			                		</div>
			                		<div class="col-md-4">
			                    		<div class="preview"></div>
			                		</div>
			            		</div>
			        		</div>
			      		</div>
			      		<div class="modal-footer">
			      			<button type="button" id="crop" class="btn btn-primary">Crop</button>
			        		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      		</div>
					</div>
			    </div>
    		
		</div>
	</body>
</html>

<script>

$(document).ready(function(){
	var image = document.getElementById('sample_image');
	
	var cropper=null;
	
	$('#upload_image').change(function(event){
		var files = event.target.files;
		var done = function(url){
	    image.src = url;
			
		};


		if(files && files.length > 0)
		{
			reader = new FileReader();
			
			reader.onload = function(event)
			{
				done(reader.result);
			};
			reader.readAsDataURL(files[0]);
		}
		
	});
	
    cropper = new Cropper(image, {
              
			aspectRatio: 1,
			viewMode: 3,
			preview:'.preview'
			
		});
	console.log(cropper)
	$('#crop').click(function(){
		
         console.log('djcfhgfu')
		 canvas = cropper.getCroppedCanvas({
			width:400,
			height:400
		})
		

		canvas.toBlob(function(blob){
			console.log(url)
			url = URL.createObjectURL(blob);
			var reader = new FileReader();
			reader.readAsDataURL(blob);
			reader.onloadend = function(){
				var base64data = reader.result;
				console.log(base64data)
				$.ajax({
					url:'/upload-img',
					method:'POST',
					data:{image:base64data},
					success:function(data)
					{
						$modal.modal('hide');
						$('#uploaded_image').attr('src', data);
					}
				});
			};
		});
	});
	
});
</script>