<div class="container">
    <div class="row">
        <div class="col">
           <div class="card promoting-card col-md-6">

  <!-- Card content -->
  <div class="card-body d-flex flex-row card-font">

    <!-- Avatar -->
    <img  src="/teacher-image/image.jpg"
     class="rounded-circle mr-3"
     height="50px" width="50px" alt="avatar">

    <!-- Content -->
    <div>

      <!-- Title -->
      <p class="card-title font-weight-bold mb-2">{{this.head}}</p>
      <!-- Subtitle -->
      

    </div>

  </div>

   

  <!-- Card content -->
  <div class="card-body">

    <div class="collapse-content">

      
   <a class="open-pdf" href="/pdf/{{this._id}}.pdf">Open pdf</a>
   
      <!-- Button -->
    
    </div>

  </div>

</div>
        </div>
    </div>
</div>