 <form>
      <input type="text" id="m" />
      <input type="submit" id="submitButton" value="submit" />
    </form>
    <script>
    const uploadImageDiv=document.getElementById('uploadedImage');
    const fileUpload=document.getElementById('fileUpload');
    fileUpload.addEventListener('change',getImage,false);
    let cropper = null;
    const cropButton=document.getElementById('cropButton');
    cropButton.addEventListener('click',cropImage);
    let myGreatImage=null;
        const croppedImage=document.getElementById('croppedImage');
    function getImage(){
        console.log("images",this.files[0]);
        const imageToProcess=this.files[0];
        let newImg =new Image(imageToProcess.width,imageToProcess.height);
        newImg.src=URL.createObjectURL(imageToProcess);
        newImg.id="myGreatImage";
        uploadImageDiv.style.border="4px solid black";
        uploadImageDiv.appendChild(newImg);
        myGreatImage=document.getElementById('sampleimage')
        processImage();
    }
    function processImage(){
      
        cropper=new Cropper(myGreatImage,{
            aspectRatio:16/9,
            crop(event){
                console.log(event)
                
                const canvas=this.cropper.getCroppedCanvas();
                croppedImage.src=canvas.toDataURL('image/png');
            }
        })
    }
    function cropImage(){
       let imgUrl=cropper.getCroppedCanvas().toDataURL();
        //const val=imgUrl.split(',')[1]
        //console.log(val)
        const img=document.createElement('img');
        img.src=imgUrl;
        document.getElementById('cropResult').appendChild(img)
    }
     
</script>
