<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 indicate">
        
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj9V-AJhvzPaEGhKiFFSQrfN4JaxD4Cgy3dA&usqp=CAU"
 alt="..." class="rounded-circle image">
<div class="middle">
  
    <a href="/student-login" class="btn btn-primary button">Student</a>
  </div>
      </div>
      <div class="col-md-6 col-12 indicate">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAXFL4xMCwrNlMVDadZPQXDiEmBLnLkMu27g&usqp=CAU"
 alt="..." class="rounded-circle image">
<div class="middle">
    <a href="/login" class="btn btn-primary button">Teacher</a>
    
  </div>
      </div>
    </div>
  </div>
</section>
