{{#each events}}

<div id="val" >"{{this.Date}}"</div>

{{/each}}

{{#each video}}

<div id="present" hidden>"{{this.date}}"</div>

{{/each}}

<div id="calendario"></div>
    <br><br>
    <div id="eventos"></div>