<div class="container gallery-container">
    <div class="row">
        <div class="col-md-12 ">
            <h2 class="gallery-head">School Gallery</h2>
        </div>
        
         {{#each pic}}
       

       <div class="profile-img ml-2">
                            <img style="width:150px;height:150px" class="ml-2" src="/upload/{{this.value}}" id="imageId">
                           
                            
                        </div>
                     
            